In [1]:
import pandas as pd

In [2]:
booki = pd.read_csv('./bisbn.csv',encoding='latin-1')
bookg = pd.read_csv('./bgenre.csv',encoding='latin-1')

In [3]:
bookscs = booki.merge(bookg, on='title')

In [4]:
bookscs

,isbn,title,author,year,publisher,image_url,genres
0,399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,"['Fiction', 'Historical Fiction', 'China', 'As..."
1,440234743,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,"['Fiction', 'Thriller', 'Mystery', 'Legal Thri..."
2,609804618,Our Dumb Century: The Onion Presents 100 Years...,The Onion,1999,Three Rivers Press,http://images.amazon.com/images/P/0609804618.0...,"['Humor', 'History', 'Comedy', 'Nonfiction', '..."
3,345402871,Airframe,Michael Crichton,1997,Ballantine Books,http://images.amazon.com/images/P/0345402871.0...,"['Fiction', 'Thriller', 'Mystery', 'Science Fi..."
4,345417623,Timeline,MICHAEL CRICHTON,2000,Ballantine Books,http://images.amazon.com/images/P/0345417623.0...,"['Science Fiction', 'Fiction', 'Thriller', 'Ti..."
...,...,...,...,...,...,...,...
26784,1561569119,Robinson Crusoe,Daniel Defoe,1998,Kidsbooks,http://images.amazon.com/images/P/1561569119.0...,"['Classics', 'Fiction', 'Adventure', 'Literatu..."
26785,451521390,Pathfinder,James Fenimore Cooper,1982,Signet Book,http://images.amazon.com/images/P/0451521390.0...,"['Fantasy', 'Science Fiction', 'Young Adult', ..."
26786,1902852036,All the Queen's Men,Nick Elwood,1999,Gay Men's Press,http://images.amazon.com/images/P/1902852036.0...,"['Romance', 'Romantic Suspense', 'Suspense', '..."
26787,441011799,Singularity Sky,Charles Stross,2004,Ace,http://images.amazon.com/images/P/0441011799.0...,"['Science Fiction', 'Fiction', 'Space Opera', ..."
26788,395264707,Dreamsnake,Vonda N. McIntyre,1978,Houghton Mifflin,http://images.amazon.com/images/P/0395264707.0...,"['Science Fiction', 'Fantasy', 'Fiction', 'Pos..."

In [6]:
bookscs.to_csv('combined.csv', index=False)

In [3]:
df1 = pd.read_csv('./Books.csv',encoding='latin-1')
df2 = pd.read_csv('./BBooks.csv',encoding='latin-1')

C:\Users\saroj\AppData\Local\Temp\ipykernel_8836\2132639372.py:1: DtypeWarning: Columns (7,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('./Books.csv',encoding='latin-1')

In [4]:
#merged_df = pd.merge(df1, df2, on= "Title", how="inner")
cbooks = df2.merge(df1, on='title')

In [5]:
cbooks

,title,series,author_x,rating,description,genres,characters,publisher_x,publishDate,firstPublishDate,...,author_y,year,publisher_y,image_url,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",Harper Perennial Modern Classics,5/23/06,7/11/60,...,Harper Lee,1988,Little Brown &amp; Company,http://images.amazon.com/images/P/0446310786.0...,NaN,NaN,NaN,NaN,NaN,NaN
1,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",Harper Perennial Modern Classics,5/23/06,7/11/60,...,Harper Lee,1985,Warner Books,http://images.amazon.com/images/P/0446310492.0...,NaN,NaN,NaN,NaN,NaN,NaN
2,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",Harper Perennial Modern Classics,5/23/06,7/11/60,...,Harper Lee,2002,Perennial Classics,http://images.amazon.com/images/P/0060935464.0...,NaN,NaN,NaN,NaN,NaN,NaN
3,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",Harper Perennial Modern Classics,5/23/06,7/11/60,...,Harper Lee,1960,Harpercollins,http://images.amazon.com/images/P/0397001517.0...,NaN,NaN,NaN,NaN,NaN,NaN
4,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",Harper Perennial Modern Classics,5/23/06,7/11/60,...,Harper Lee,1995,HarperCollins Publishers,http://images.amazon.com/images/P/006017322X.0...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26784,Charmed,NaN,Catherine Hart,3.99,"In 1813, a magnificent Shawnee brave named Sil...","['Time Travel', 'Historical Romance', 'Romance...",[],Zebra,December 1st 1996,NaN,...,Catherine Hart,1996,Zebra Books,http://images.amazon.com/images/P/0821754416.0...,NaN,NaN,NaN,NaN,NaN,NaN
26785,Charmed,NaN,Catherine Hart,3.99,"In 1813, a magnificent Shawnee brave named Sil...","['Time Travel', 'Historical Romance', 'Romance...",[],Zebra,December 1st 1996,NaN,...,Jayne Castle,1999,Berkley Publishing Group,http://images.amazon.com/images/P/0425171299.0...,NaN,NaN,NaN,NaN,NaN,NaN
26786,Vacuum Flowers,NaN,Michael Swanwick,3.80,"Among the vanguard of today's boldest writers,...","['Science Fiction', 'Cyberpunk', 'Fiction', 'S...",['Rebel Elizabeth Mudlark'],Ace,January 1st 1988,1987,...,Michael Swanwick,1997,Ace Books,http://images.amazon.com/images/P/0441858767.0...,NaN,NaN,NaN,NaN,NaN,NaN
26787,The Delta Star,NaN,Joseph Wambaugh (Goodreads Author),3.67,A cheap hooker named Missy Moonbeam takes a fa...,"['Fiction', 'Mystery', 'Crime', 'Novels', 'Hum...",[],Bantam,January 1st 1984,February 1st 1983,...,Joseph Wambaugh,1987,Bantam Books,http://images.amazon.com/images/P/0553273868.0...,NaN,NaN,NaN,NaN,NaN,NaN
26788,Anasazi,Sense of Truth #2,Emma Michaels,4.19,"'Anasazi', sequel to 'The Thirteenth Chime' by...","['Mystery', 'Young Adult']",[],Bokheim Publishing,August 5th 2011,August 3rd 2011,...,Dean Ing,1980,Ace Books,http://images.amazon.com/images/P/044102260X.0...,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
cbooks.to_csv('combined.csv', index=False)

In [8]:
ratings = pd.read_csv('./Ratings.csv',encoding='latin-1')

In [10]:
users = pd.read_csv('./Users.csv', encoding='latin-1')

C:\Users\saroj\AppData\Local\Temp\ipykernel_8836\2571707803.py:1: DtypeWarning: Columns (3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  users = pd.read_csv('./Users.csv', encoding='latin-1')

In [11]:
ratings

         user_id        isbn  rating
0         276725  034545104X       0
1         276726   155061224       5
2         276727   446520802       0
3         276729  052165615X       3
4         276729   521795028       6
...          ...         ...     ...
1048570   250764   451410777       0
1048571   250764   452264464       8
1048572   250764  048623715X       0
1048573   250764   486256588       0
1048574   250764   515069434       0

[1048575 rows x 3 columns]

In [12]:
users

,user_id,location,age,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,1,"nyc, new york, usa;NULL",NaN,NaN,NaN,NaN
1,2,"stockton, california, usa",18,NaN,NaN,NaN
2,3,"moscow, yukon territory, russia;NULL",NaN,NaN,NaN,NaN
3,4,"porto, v.n.gaia, portugal",17,NaN,NaN,NaN
4,5,"farnborough, hants, united kingdom;NULL",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
278847,278854,"portland, oregon, usa;NULL",NaN,NaN,NaN,NaN
278848,278855,"tacoma, washington, united kingdom",50,NaN,NaN,NaN
278849,278856,"brampton, ontario, canada;NULL",NaN,NaN,NaN,NaN
278850,278857,"knoxville, tennessee, usa;NULL",NaN,NaN,NaN,NaN
278851,278858,"dublin, n/a, ireland;NULL",NaN,NaN,NaN,NaN

In [13]:
cbooks

,title,series,author_x,rating,description,genres,characters,publisher_x,publishDate,firstPublishDate,...,author_y,year,publisher_y,image_url,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",Harper Perennial Modern Classics,5/23/06,7/11/60,...,Harper Lee,1988,Little Brown &amp; Company,http://images.amazon.com/images/P/0446310786.0...,NaN,NaN,NaN,NaN,NaN,NaN
1,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",Harper Perennial Modern Classics,5/23/06,7/11/60,...,Harper Lee,1985,Warner Books,http://images.amazon.com/images/P/0446310492.0...,NaN,NaN,NaN,NaN,NaN,NaN
2,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",Harper Perennial Modern Classics,5/23/06,7/11/60,...,Harper Lee,2002,Perennial Classics,http://images.amazon.com/images/P/0060935464.0...,NaN,NaN,NaN,NaN,NaN,NaN
3,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",Harper Perennial Modern Classics,5/23/06,7/11/60,...,Harper Lee,1960,Harpercollins,http://images.amazon.com/images/P/0397001517.0...,NaN,NaN,NaN,NaN,NaN,NaN
4,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",Harper Perennial Modern Classics,5/23/06,7/11/60,...,Harper Lee,1995,HarperCollins Publishers,http://images.amazon.com/images/P/006017322X.0...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26784,Charmed,NaN,Catherine Hart,3.99,"In 1813, a magnificent Shawnee brave named Sil...","['Time Travel', 'Historical Romance', 'Romance...",[],Zebra,December 1st 1996,NaN,...,Catherine Hart,1996,Zebra Books,http://images.amazon.com/images/P/0821754416.0...,NaN,NaN,NaN,NaN,NaN,NaN
26785,Charmed,NaN,Catherine Hart,3.99,"In 1813, a magnificent Shawnee brave named Sil...","['Time Travel', 'Historical Romance', 'Romance...",[],Zebra,December 1st 1996,NaN,...,Jayne Castle,1999,Berkley Publishing Group,http://images.amazon.com/images/P/0425171299.0...,NaN,NaN,NaN,NaN,NaN,NaN
26786,Vacuum Flowers,NaN,Michael Swanwick,3.80,"Among the vanguard of today's boldest writers,...","['Science Fiction', 'Cyberpunk', 'Fiction', 'S...",['Rebel Elizabeth Mudlark'],Ace,January 1st 1988,1987,...,Michael Swanwick,1997,Ace Books,http://images.amazon.com/images/P/0441858767.0...,NaN,NaN,NaN,NaN,NaN,NaN
26787,The Delta Star,NaN,Joseph Wambaugh (Goodreads Author),3.67,A cheap hooker named Missy Moonbeam takes a fa...,"['Fiction', 'Mystery', 'Crime', 'Novels', 'Hum...",[],Bantam,January 1st 1984,February 1st 1983,...,Joseph Wambaugh,1987,Bantam Books,http://images.amazon.com/images/P/0553273868.0...,NaN,NaN,NaN,NaN,NaN,NaN
26788,Anasazi,Sense of Truth #2,Emma Michaels,4.19,"'Anasazi', sequel to 'The Thirteenth Chime' by...","['Mystery', 'Young Adult']",[],Bokheim Publishing,August 5th 2011,August 3rd 2011,...,Dean Ing,1980,Ace Books,http://images.amazon.com/images/P/044102260X.0...,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
ratings_with_books = ratings.merge(cbooks, on='isbn')

In [15]:
ratings_with_books

,user_id,isbn,rating_x,title,series,author_x,rating_y,description,genres,characters,...,author_y,year,publisher_y,image_url,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,276726,155061224,5,Rites of Passage,To the Ends of the Earth #1,William Golding,3.59,The first volume of William Golding's Sea Tril...,"['Fiction', 'Historical Fiction', 'Classics', ...","['Edmund Talbot', 'Reverend Colley', 'Zenobia ...",...,Judith Rae,2001,Heinle,http://images.amazon.com/images/P/0155061224.0...,NaN,NaN,NaN,NaN,NaN,NaN
1,276726,155061224,5,Rites of Passage,NaN,Joy N. Hensley (Goodreads Author),3.97,Sam McKennaÃ¢Â€Â™s never turned down a dare. And ...,"['Young Adult', 'Contemporary', 'Romance', 'Mi...",[],...,Judith Rae,2001,Heinle,http://images.amazon.com/images/P/0155061224.0...,NaN,NaN,NaN,NaN,NaN,NaN
2,276727,446520802,0,The Notebook,The Notebook #1,Nicholas Sparks (Goodreads Author),4.11,Set amid the austere beauty of the North Carol...,"['Romance', 'Fiction', 'Chick Lit', 'Contempor...","['Noah Taylor Calhoun', 'Allison Nelson', 'Lon...",...,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,NaN,NaN,NaN,NaN,NaN,NaN
3,276744,038550120X,7,A Painted House,NaN,John Grisham (Goodreads Author),3.71,"""The hill people and the Mexicans arrived on t...","['Fiction', 'Mystery', 'Historical Fiction', '...",['Luke'],...,JOHN GRISHAM,2001,Doubleday,http://images.amazon.com/images/P/038550120X.0...,NaN,NaN,NaN,NaN,NaN,NaN
4,276746,425115801,0,Lightning,NaN,Dean Koontz (Goodreads Author),4.06,A storm struck on the night Laura Shane was bo...,"['Horror', 'Fiction', 'Thriller', 'Science Fic...",[],...,Dean R. Koontz,1996,Berkley Publishing Group,http://images.amazon.com/images/P/0425115801.0...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261263,250764,451191692,0,Remote Control,Nick Stone #1,Andy McNab,3.89,"Tough, resourceful, ruthless - as an SAS troop...","['Thriller', 'Fiction', 'Action', 'Military Fi...",[],...,Stephen White,1998,Signet Book,http://images.amazon.com/images/P/0451191692.0...,NaN,NaN,NaN,NaN,NaN,NaN
261264,250764,451192001,0,How Stella Got Her Groove Back,NaN,Terry McMillan (Goodreads Author),3.75,How Stella Got Her Groove Back is full of Terr...,"['Fiction', 'Romance', 'African American', 'Ch...",[],...,Terry McMillan,1997,Signet Book,http://images.amazon.com/images/P/0451192001.0...,NaN,NaN,NaN,NaN,NaN,NaN
261265,250764,451193911,0,Atlanta Heat,Tempting SEALs #6,Lora Leigh,4.08,Atlanta Heat Ã¢Â€Â• never before released as a st...,"['Romance', 'Romantic Suspense', 'Contemporary...","['Macey March', 'Em Delaney']",...,Robert Coram,1997,Signet Book,http://images.amazon.com/images/P/0451193911.0...,NaN,NaN,NaN,NaN,NaN,NaN
261266,250764,451400763,0,Quest,NaN,Andreas Eschbach,3.76,"Dies ist die faszinierendste Entdeckung, die d...","['Science Fiction', 'Fiction', 'Science Fictio...",[],...,Richard Ben Sapir,1988,New Amer Library (Mm),http://images.amazon.com/images/P/0451400763.0...,NaN,NaN,NaN,NaN,NaN,NaN
261267,250764,451401387,0,The Road to Avalon,Dark Ages of Britain #1,"Joan Wolf (Goodreads Author), Mary Jo Putney (...",4.02,The pageantry and passionate intrigues of King...,"['Historical Fiction', 'Arthurian', 'Fantasy',...","['Morgan le Fay', 'King Arthur']",...,Joan Wolf,1989,Onyx Books,http://images.amazon.com/images/P/0451401387.0...,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
number_rating = ratings_with_books.groupby('title')['rating_x'].count().reset_index()

In [19]:
number_rating

                                                  title  rating_x
0                                          'Salem's Lot        80
1                             ...And Ladies of the Club         5
2                    1,000 Places to See Before You Die        16
3                10 Secrets for Success and Inner Peace         5
4                                    100 Selected Poems         3
...                                                 ...       ...
9444                                             Zombie        16
9445                                       Zombie Lover         1
9446                                    Zorba the Greek         3
9447  Zoya's Story: An Afghan Woman's Struggle for F...        11
9448                            god bless the gargoyles         1

[9449 rows x 2 columns]

In [20]:
final_rating = ratings_with_books.merge(number_rating, on='title')

In [21]:
number_rating

                                                  title  rating_x
0                                          'Salem's Lot        80
1                             ...And Ladies of the Club         5
2                    1,000 Places to See Before You Die        16
3                10 Secrets for Success and Inner Peace         5
4                                    100 Selected Poems         3
...                                                 ...       ...
9444                                             Zombie        16
9445                                       Zombie Lover         1
9446                                    Zorba the Greek         3
9447  Zoya's Story: An Afghan Woman's Struggle for F...        11
9448                            god bless the gargoyles         1

[9449 rows x 2 columns]

In [22]:
final_rating

,user_id,isbn,rating_x_x,title,series,author_x,rating_y,description,genres,characters,...,year,publisher_y,image_url,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,rating_x_y
0,276726,155061224,5,Rites of Passage,To the Ends of the Earth #1,William Golding,3.59,The first volume of William Golding's Sea Tril...,"['Fiction', 'Historical Fiction', 'Classics', ...","['Edmund Talbot', 'Reverend Colley', 'Zenobia ...",...,2001,Heinle,http://images.amazon.com/images/P/0155061224.0...,NaN,NaN,NaN,NaN,NaN,NaN,28
1,276726,155061224,5,Rites of Passage,NaN,Joy N. Hensley (Goodreads Author),3.97,Sam McKennaÃ¢Â€Â™s never turned down a dare. And ...,"['Young Adult', 'Contemporary', 'Romance', 'Mi...",[],...,2001,Heinle,http://images.amazon.com/images/P/0155061224.0...,NaN,NaN,NaN,NaN,NaN,NaN,28
2,276727,446520802,0,The Notebook,The Notebook #1,Nicholas Sparks (Goodreads Author),4.11,Set amid the austere beauty of the North Carol...,"['Romance', 'Fiction', 'Chick Lit', 'Contempor...","['Noah Taylor Calhoun', 'Allison Nelson', 'Lon...",...,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,NaN,NaN,NaN,NaN,NaN,NaN,580
3,276744,038550120X,7,A Painted House,NaN,John Grisham (Goodreads Author),3.71,"""The hill people and the Mexicans arrived on t...","['Fiction', 'Mystery', 'Historical Fiction', '...",['Luke'],...,2001,Doubleday,http://images.amazon.com/images/P/038550120X.0...,NaN,NaN,NaN,NaN,NaN,NaN,766
4,276746,425115801,0,Lightning,NaN,Dean Koontz (Goodreads Author),4.06,A storm struck on the night Laura Shane was bo...,"['Horror', 'Fiction', 'Thriller', 'Science Fic...",[],...,1996,Berkley Publishing Group,http://images.amazon.com/images/P/0425115801.0...,NaN,NaN,NaN,NaN,NaN,NaN,510
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261263,250764,451191692,0,Remote Control,Nick Stone #1,Andy McNab,3.89,"Tough, resourceful, ruthless - as an SAS troop...","['Thriller', 'Fiction', 'Action', 'Military Fi...",[],...,1998,Signet Book,http://images.amazon.com/images/P/0451191692.0...,NaN,NaN,NaN,NaN,NaN,NaN,37
261264,250764,451192001,0,How Stella Got Her Groove Back,NaN,Terry McMillan (Goodreads Author),3.75,How Stella Got Her Groove Back is full of Terr...,"['Fiction', 'Romance', 'African American', 'Ch...",[],...,1997,Signet Book,http://images.amazon.com/images/P/0451192001.0...,NaN,NaN,NaN,NaN,NaN,NaN,193
261265,250764,451193911,0,Atlanta Heat,Tempting SEALs #6,Lora Leigh,4.08,Atlanta Heat Ã¢Â€Â• never before released as a st...,"['Romance', 'Romantic Suspense', 'Contemporary...","['Macey March', 'Em Delaney']",...,1997,Signet Book,http://images.amazon.com/images/P/0451193911.0...,NaN,NaN,NaN,NaN,NaN,NaN,3
261266,250764,451400763,0,Quest,NaN,Andreas Eschbach,3.76,"Dies ist die faszinierendste Entdeckung, die d...","['Science Fiction', 'Fiction', 'Science Fictio...",[],...,1988,New Amer Library (Mm),http://images.amazon.com/images/P/0451400763.0...,NaN,NaN,NaN,NaN,NaN,NaN,3
261267,250764,451401387,0,The Road to Avalon,Dark Ages of Britain #1,"Joan Wolf (Goodreads Author), Mary Jo Putney (...",4.02,The pageantry and passionate intrigues of King...,"['Historical Fiction', 'Arthurian', 'Fantasy',...","['Morgan le Fay', 'King Arthur']",...,1989,Onyx Books,http://images.amazon.com/images/P/0451401387.0...,NaN,NaN,NaN,NaN,NaN,NaN,6

In [23]:
final_rating.drop_duplicates(['user_id','title'],inplace=True)

In [24]:
final_rating

,user_id,isbn,rating_x_x,title,series,author_x,rating_y,description,genres,characters,...,year,publisher_y,image_url,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,rating_x_y
0,276726,155061224,5,Rites of Passage,To the Ends of the Earth #1,William Golding,3.59,The first volume of William Golding's Sea Tril...,"['Fiction', 'Historical Fiction', 'Classics', ...","['Edmund Talbot', 'Reverend Colley', 'Zenobia ...",...,2001,Heinle,http://images.amazon.com/images/P/0155061224.0...,NaN,NaN,NaN,NaN,NaN,NaN,28
2,276727,446520802,0,The Notebook,The Notebook #1,Nicholas Sparks (Goodreads Author),4.11,Set amid the austere beauty of the North Carol...,"['Romance', 'Fiction', 'Chick Lit', 'Contempor...","['Noah Taylor Calhoun', 'Allison Nelson', 'Lon...",...,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,NaN,NaN,NaN,NaN,NaN,NaN,580
3,276744,038550120X,7,A Painted House,NaN,John Grisham (Goodreads Author),3.71,"""The hill people and the Mexicans arrived on t...","['Fiction', 'Mystery', 'Historical Fiction', '...",['Luke'],...,2001,Doubleday,http://images.amazon.com/images/P/038550120X.0...,NaN,NaN,NaN,NaN,NaN,NaN,766
4,276746,425115801,0,Lightning,NaN,Dean Koontz (Goodreads Author),4.06,A storm struck on the night Laura Shane was bo...,"['Horror', 'Fiction', 'Thriller', 'Science Fic...",[],...,1996,Berkley Publishing Group,http://images.amazon.com/images/P/0425115801.0...,NaN,NaN,NaN,NaN,NaN,NaN,510
6,276746,055356451X,0,Night Sins,Deer Lake #1,Tami Hoag (Goodreads Author),3.96,A sensational New York Times bestseller and su...,"['Mystery', 'Suspense', 'Fiction', 'Thriller',...","[""Megan O'Malley"", 'Mitch Holt']",...,1995,Bantam,http://images.amazon.com/images/P/055356451X.0...,NaN,NaN,NaN,NaN,NaN,NaN,164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261262,250764,451191013,0,The Regulators,NaN,"Richard Bachman (Pseudonym), Stephen King (Goo...",3.71,"There's a place in Wentworth, Ohio, where summ...","['Horror', 'Fiction', 'Thriller', 'Fantasy', '...",[],...,2002,Signet Book,http://images.amazon.com/images/P/0451191013.0...,NaN,NaN,NaN,NaN,NaN,NaN,141
261264,250764,451192001,0,How Stella Got Her Groove Back,NaN,Terry McMillan (Goodreads Author),3.75,How Stella Got Her Groove Back is full of Terr...,"['Fiction', 'Romance', 'African American', 'Ch...",[],...,1997,Signet Book,http://images.amazon.com/images/P/0451192001.0...,NaN,NaN,NaN,NaN,NaN,NaN,193
261265,250764,451193911,0,Atlanta Heat,Tempting SEALs #6,Lora Leigh,4.08,Atlanta Heat Ã¢Â€Â• never before released as a st...,"['Romance', 'Romantic Suspense', 'Contemporary...","['Macey March', 'Em Delaney']",...,1997,Signet Book,http://images.amazon.com/images/P/0451193911.0...,NaN,NaN,NaN,NaN,NaN,NaN,3
261266,250764,451400763,0,Quest,NaN,Andreas Eschbach,3.76,"Dies ist die faszinierendste Entdeckung, die d...","['Science Fiction', 'Fiction', 'Science Fictio...",[],...,1988,New Amer Library (Mm),http://images.amazon.com/images/P/0451400763.0...,NaN,NaN,NaN,NaN,NaN,NaN,3
261267,250764,451401387,0,The Road to Avalon,Dark Ages of Britain #1,"Joan Wolf (Goodreads Author), Mary Jo Putney (...",4.02,The pageantry and passionate intrigues of King...,"['Historical Fiction', 'Arthurian', 'Fantasy',...","['Morgan le Fay', 'King Arthur']",...,1989,Onyx Books,http://images.amazon.com/images/P/0451401387.0...,NaN,NaN,NaN,NaN,NaN,NaN,6

In [26]:
book_pivot = final_rating.pivot_table(columns='user_id', index='title', values= 'rating_x')

KeyError: 'rating_x'